<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qtx.dubbo.batch.mapper.read.ReadMapper">

    <select id="selectRead" resultType="qtx.dubbo.model.entity.batch.read.Read">
        select `name`,`code` from `read` where `name` = #{name}
    </select>

</mapper>
